# Cache y datos generados por Godot 4.x
.godot/


# Configuración de exportación
export_presets.cfg

# Archivos temporales y de registro
*.tmp
*.log

# Traducciones generadas automáticamente
*.translation

# Si usas C# (Mono/Dotnet)
.mono/
bin/
obj/
.csproj
.sln
